/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo */
body{
  font-family: Arial, sans-serif;

  height:100vh;

  background:
  linear-gradient(rgba(0,0,0,0.65),
  rgba(0,0,0,0.8)),
  url("kkk.jpg");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;

  overflow:hidden;
}

/* Container estilo Bootstrap */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

/* Centralização */
.text-center {
  text-align: center;
}

/* Avatar */
.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* Títulos */
.title {
  font-size: 24px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #00ff0d;
}

/* Links */
.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* Botões estilo Bootstrap */
.btn {
  display: block;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

/* Variantes */
.btn-primary {
  background-color: #ff00dd;
  color: rgb(255, 255, 255);
}

.btn-secondary {
  background-color: #00fff2;
  color: rgb(255, 255, 255);
}

.btn-dark {
  background-color: #001aff;
  color: rgb(255, 255, 255);
}

.btn-outline {
  border: 1px solid #f700ff; 
   color: #ffffff;
 background: transparent;
}


/* Hover */
.btn:hover {
  opacity: 0.8;
}

/* Tema escuro */
.dark-mode {
  background-color: #00ccff;
  color: #e90808;
}

.dark-mode .btn-outline {
  color: #ffffff;
  border-color: #ae00ff;
}

.dark-mode .btn-primary {
  background-color: #ae00ff;
  color: rgb(255, 255, 255);
}

.dark-mode .btn-secondary {
  background-color: #00a0a0;
  color: rgb(255, 255, 255);
}

.dark-mode .btn-dark {
  background-color: #ee7300;
  color: rgb(255, 255, 255);
}

.dark-mode {
  font-family: Arial, sans-serif;
  background-color: #68d880;
  color: #00ffdd;
}

.dark-mode .subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #00ffff;
}

body{font-family: Arial, sans-serif;
  background-color: #09ff00;
  color: #09ff00;
}



